<div class="grid grid-cols-3 gap-1 h-fit w-full items-center justify-center">
  <app-social-link class="w-full lg:col-span-1 col-span-full" [iconLink]="linkedInIconLink" [title]="'LinkedIn'" [link]="'https://www.linkedin.com/in/patrikvalentiny/'"></app-social-link>
  <app-social-link class="w-full lg:col-span-1 col-span-full" [iconLink]="githubIconLink" [title]="'GitHub'" [link]="'https://www.github.com/patrikvalentiny/'"></app-social-link>
  <!--  <app-social-link class="w-full" [iconLink]="instagramIconLink" [title]="'Instagram'" [link]="'https://www.instagram.com/patrikvalentiny/'"></app-social-link>-->
  <app-social-link class="w-full lg:col-span-1 col-span-full" [iconLink]="vimeoIconLink" [title]="'Vimeo'" [link]="'https://www.vimeo.com/patrikvalentiny/'"></app-social-link>
</div>
