<div class="flex flex-row gap-2 w-full items-center justify-center">
  <app-social-link class="w-full" [iconLink]="linkedInIconLink" [title]="'LinkedIn'" [link]="'https://www.linkedin.com/in/patrikvalentiny/'"></app-social-link>
  <app-social-link class="w-full" [iconLink]="instagramIconLink" [title]="'Instagram'" [link]="'https://www.instagram.com/patrikvalentiny/'"></app-social-link>
  <app-social-link class="w-full" [iconLink]="vimeoIconLink" [title]="'Vimeo'" [link]="'https://www.vimeo.com/patrikvalentiny/'"></app-social-link>
</div>
