<div class="flex flex-col w-full gap-8">
  <div class="flex flex-col gap-2">
    <label class="text-3xl font-bold">Dubai</label>
    <label class="text-xl font-semibold">Wednesday - 29 May</label>
  </div>
  <div>
    <label class="text-[18vh] w-full font-extrabold">37°</label>
  </div>
  <div class="flex flex-row w-full justify-between">
    <label class="text-2xl font-semibold">The floor is lava</label>
    <label class="text-2xl font-semibold">39° - 29°</label>
  </div>
  <div class="flex flex-row w-full justify-between">
    <label class="text-md font-normal">Wind: 10km/h</label>
    <label class="text-md font-normal">Precipitation: 0%</label>
  </div>

</div>

