<div class="flex flex-col gap-4">
  <label class="text-lg font-light">Hourly</label>
  <hr class="h-[1px] w-full border-0 bg-primary">
  <div class="flex flex-col justify-between gap-6">
    @for (entry of series; track entry.time) {

      <div class="flex flex-row gap-1 justify-between">
        <label class="text-md font-semibold text-right w-12">{{ entry.time | date :"h a" }}</label>
        <label
          class="text-md font-semibold capitalize text-left w-36">{{ entry.data.next_6_hours?.summary?.symbol_code ?? "clear" }}</label>
        <div class="flex flex-row items-center justify-between w-16">
          <svg class="w-6 h-full fill-base-content stroke-base-content"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
          >
            <path
              stroke-width="2"
              d="M12 21.5c-2.484 0-4.5-2.016-4.5-4.5s2.016-8.5 4.5-8.5s4.5 6.016 4.5 8.5s-2.016 4.5-4.5 4.5z"
            />
          </svg>


          <label
            class="text-md font-semibold capitalize  text-right w-full">{{ entry.data.next_6_hours?.details?.precipitation_amount ?? 0 }}
            %</label>
        </div>

        <label class="text-md font-semibold w-12 text-right">{{ entry.data.instant.details.air_temperature }}°</label>
      </div>

    }
  </div>
</div>
